/* main.css */

.app {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: #f2f2f2; /* Gris clair */
  color: #5a5a5a; /* Gris foncé */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {

}

nav a,
.nav-link{
  margin-right: 20px;
  text-decoration: none;
  color: #5a5a5a; /* Gris foncé */
  font-weight: bold;

  border: none; /* Supprimer la bordure */
  background: none; /* Supprimer le fond coloré */
  cursor: pointer; /* Définir le curseur comme pointer */

  font-size: 16px; /* Ajuster la taille du texte */
  padding: 0; /* Supprimer le rembourrage du bouton */

}

nav a:hover,
.nav-link:hover {
  color: #8c8c8c; /* Gris moyen */
}

.filters p {
  margin-right: 20px;
  color: #5a5a5a; /* Gris foncé */
}

.content {
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  margin-top: 20px;
  display: flex;
  width: 40%; /* Largeur de la liste déroulante */
  align-items: center;
  background-color: #fff;
  border-radius: 10px; /* Augmenter le rayon des coins */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="tel"] {
  width: calc(100% - 24px); /* Ajustement pour le padding */
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 15px; /* Augmentation de l'espace entre l'étiquette et le champ de saisie */
}


.select-container {
  margin-top: 20px;
  width: 20%; /* Largeur de la liste déroulante */
  background-color: #fff;
  border-radius: 10px; /* Augmenter le rayon des coins */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select {
  width: 100%;
  padding: 12px; /* Augmenter la taille de la police */
  border: none;
  border-radius: 5px; /* Augmenter le rayon des coins */
  font-size: 12px; /* Taille de la police */
  background-color: transparent;
  appearance: none; /* Supprimer les styles par défaut du navigateur */
  color: #5a5a5a; /* Gris foncé */
}

.logo {
  width: 300px; /* Ajuster la taille du logo selon vos besoins */
  height: auto;
  margin-right: 5px; /* Marge à droite pour séparer du titre et des liens de navigation */
}
